$primaryDark: #23282a;
$primaryBlue: #008db9;
$primaryWhite: #e9e9e9;
$darkBlue: #00546f;
$lightBlue: #b2cbd3;
$green: #7ac74f;
$lightGreen: #7ef473;
$red: #f24236;
$colorGray: #ccc5c5;
$colorBlue: #83b7df;

$marginSmall: 10px;
$marginNormal: 20px;
$marginLarge: 30px;

$fontSizeLarge: 30px;
$fontSizeNormal: 20px;
$fontSizeSmall: 15px;

$font-weight-bold: 600;

$tileWidth: 330px;
$tileHeight: 230px;
