@import "../../styles/variables";
@import "../../styles/common";

.dashboard {
  display: flex;

  .widget-container {
    margin-right: $marginNormal;
  }

  ui-test-widget::ng-deep .ui-test-content {
    margin-bottom: $marginNormal;
  }

  pod-status-widget::ng-deep > div {
    margin-bottom: $marginNormal;
  } 
}
