@import "../../styles/variables";
@import "../../styles/common";

.dashboard {
  display: flex;

  .pods-widget-container, .active-build-widget-container {
    width: 700px;
    margin-right: $marginNormal;
  }
}
