<div class="dashboard">
  <div class="pods-widget-container">
    <pod-status-widget [namespace]="'dev'"></pod-status-widget>
    <div class="horizontal-divider"></div>
    <pod-status-widget [namespace]="'qa'"></pod-status-widget>
  </div>
  <div>
    <ui-test-widget [environment]="'dev'"></ui-test-widget>
    <div class="horizontal-divider"></div>
    <ui-test-widget [environment]="'qa'"></ui-test-widget>
  </div>
  <div class="active-build-widget-container">
    <active-builds></active-builds>
  </div>
</div>
