<div class="dashboard">
  <div class="widget-container">
    <ui-test-widget [environment]="'dev'"></ui-test-widget>
    <active-builds [retrieveStrategy]="activeBuildsRetrieveStrategy" [widgetData]="activeBuildsWidgetData"></active-builds>
  </div>

  <div class="widget-container">
    <ui-test-widget [environment]="'qa'"></ui-test-widget>
    <active-builds [retrieveStrategy]="lastBuildsRetrieveStrategy" [widgetData]="lastBuildsWidgetData"></active-builds>
  </div>

  <div class="widget-container">
    <pod-status-widget [namespace]="'dev'"></pod-status-widget>
    <pod-status-widget [namespace]="'qa'"></pod-status-widget>
  </div>
</div>
