@import "../../../../styles/variables";
@import "../../../../styles/animation-pulse";

.status-container {
  background-color: $colorGray;
  width: $tileWidth;
  height: $tileHeight;
  margin: 0 $marginSmall $marginSmall;

  .ui-test-status {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $tileWidth;
    height: $tileHeight;

    .no-data, .title {
      font-size: $fontSizeLarge;
      font-weight: $font-weight-bold;
    }

    .start-date, .estimate-time {
      font-size: $fontSizeNormal;
    }

    .estimate-time {
      margin-top: $marginSmall;
    }
  }

  .success {
    background-color: $colorBlue;
  }

  .failure {
    background-color: $red;
  }

  .not-built, .aborted {
    background-color: $colorGray;
  }

  .in-progress {
    animation: 2s ease infinite pulse;
  }
}

.clickable {
  cursor: pointer;
}
