@import "../../styles/variables";
@import "../../styles/common";

$pageWidth: 500px;

.settings-page {
  margin: $marginNormal;
  margin-left: $sidebarSize;
  width: $pageWidth;

  h1 {
    color: $primaryDark;
  }

  .text-input {
    margin-bottom: $marginNormal;
    margin-top: $marginNormal;
  }

  .input-field {
    margin-bottom: $marginLarge;

    .ui-inputtext {
      width: $pageWidth;
    }
  }

  .buttons {
    width: $pageWidth;
    display: flex;
    justify-content: flex-start;

    button {
      margin-right: $marginSmall;
    }
  }
}
