<div class="build-item" (click)="onClick()">
  <div *ngIf="buildItem" class="title">{{buildItem.name}} ({{buildItem.folder}})</div>
  <div class="state">
    <div class="middle-size">
      <label class="name">Started at: </label>
      <label *ngIf="buildItem.dateStartedAt" class="value">{{buildItem.dateStartedAt | date:'medium'}}</label>
    </div>
    <div class="middle-size">
      <label class="name">Estimate time: </label>
      <label *ngIf="buildItem" class="value">{{estimateTime | agePipe}}</label>
    </div>
  </div>
</div>
