@import "../../../styles/variables";

.build-item {
  width: 100%;
  margin-bottom: $marginSmall;
  padding: $marginSmall;
  background-color: $colorGray;

  .title {
    font-size: $fontSizeNormal;
    margin-bottom: $marginNormal;
    font-weight: $font-weight-bold;
  }

  .state {
    display: flex;
    justify-content: space-between;

    .name {
      font-size: $fontSizeSmall;
      font-weight: $font-weight-bold;
    }

    .value {
      font-size: $fontSizeNormal;
    }
  }
}

.build-item:hover {
  cursor: pointer;
}
